<%= form_for(@task) do |f| %>
   <%= f.error_messages! %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <p> 地域
   <%= f.collection_select(:area_id, Area.all, :id, :prefecture, :prompt => "選択してください") %>
  </p>
  <br>
  <div class="field">
  <%= f.label :deadline %><br>
  <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
  <%= f.label :status %><br>
  <%= f.select :status, Task.statuses.keys %>
  </div>
  <br>
  <div class="field">
  <%= f.label :写真のアップロード %><br>
  <%= image_img(@task)  %>

  <div class="button_wrapper">
   <button class="button1">
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %></button>
    </div>
  </div>
  <br>
  <br>
  <%= f.submit %>
  <br>
  <br>

<%= link_to "お知らせ一覧に戻る", tasks_path %>

<% end %>
