<head>
    <meta charset="UTF-8">
    <title>お知らせ一覧</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>

<div class="container">
  <div class="wrapper colß-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <div class="main-title">
    <h1>お知らせ一覧</h1>
    </div>
    <h4>メンバーに伝えたいことは「お知らせ」へ、タイトルをクリックするとメッセージのやりとりもできます</h4>
    <h4>特定のメンバーへの「お願い」は、「お願い一覧表」へどうぞ</h4>
    <%= link_to "お知らせを作成する", new_task_path, class: 'btn btn-default' %>
    <%= link_to 'お願い一覧表へ', works_path, class: 'btn btn-default' %>
    <div>
      <br>
        <%= form_tag(tasks_path, method: "get") do %>
        <%= label_tag :title, "タイトル" %><%= text_field_tag :title, params[:title] %>
        <%= submit_tag "検索" %>
        <%= label_tag :status, "種類" %>
        <%= select_tag :status, options_for_select(Task.statuses), include_blank: true %>
        <%= submit_tag "検索" %>
        <% end %>
    </div>

   <% @tasks.each do |task| %>
      <div class="row">
      <%= link_to task_path(task) do %>
      <h4><strong><%= task.title %></strong></h4>
      <% end %>
      <p>By:<%= task.user.name %></p>
      <p>種類:<%= task.status %></p>
      <p>本文:<%= task.content %></p>
      <p>地域:<%= task.area.prefecture%></p>
      <p>作成日:<%= task.deadline %></p>
      <p><%= image_tag task.image, class: "img-responsive" %></p>

    <% if task.user == current_user%>
      <%= link_to "お知らせを修正する", edit_task_path(task.id) %>
      <%= link_to 'お知らせを削除する', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
    <% end %>

  <% end %>
 </div>
</div>
