<p id="notice"><%= notice %></p>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>

<h1>お願い一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>タイトル</th>
      <th>種類</th>
      <th>内容</th>
      <th>いつまでに</th>
      <th>担当者</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.user.name %></td>
        <td><%= work.title %></td>
        <td><%= work.kind %></td>
        <td><%= work.content %></td>
        <td><%= work.deadline.strftime("%Y年%m月%d日 %H時%M分") %></td>
        <td><%= work.charge.name %></td>
        <td><%= work.status %></td>
        <% if work.user == current_user%>
        <td><%= link_to '詳細を見る', work %></td>
        <td><%= link_to '編集する', edit_work_path(work) %></td>
        <td><%= link_to '削除する', work, method: :delete, data: { confirm: '本当に削除しますか' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいお願いの登録へ', new_work_path %>
