<html lang="ja">
<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @work.user.name %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @work.content %>
</p>

<p>
  <strong>いつまでに:</strong>
  <%= @work.deadline.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @work.charge.name %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @work.status %>
</p>

<%= link_to 'お願いの修正へ', edit_work_path(@work) %> |
<%= link_to 'お願い一覧へ', works_path %>

</html>
