<p id="notice"><%= notice %></p>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>依頼事項一覧</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>


<p id="notice"><%= notice %></p>

<h1>お願いされている事項一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>依頼者</th>
      <th>依頼事項</th>
      <th>メモ</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submit_requests.each do |submit_request| %>
      <tr>
        <td><%= submit_request.user.name %></td>
        <td><%= submit_request.work.title %></td>
        <td><%= submit_request.memo %></td>
        <td><%= submit_request.status %></td>
        <td><%= link_to '詳細を見る', submit_request %></td>
        <td><%= link_to '修正する', edit_submit_request_path(submit_request) %></td>
        <td><%= link_to '削除する', submit_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新たな依頼事項の提出へ', new_submit_request_path %>

</html>
